{% block vich_file_widget %}
    {% spaceless %}
        <div class="{% if field_class is defined and field_class is not null %}{{ field_class }}{% else %}col-md-12{% endif %}">
            <div class="form-group row">
                {{ form_label(form) }}
                <div class="col-md-12">
                    <div class="vich-file">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                {% if download_uri is defined and download_uri %}
                                    <th width="15%">Télécharger</th>
                                {% endif %}
                                <th width="70%">Remplacer</th>
                                {% if form.delete is defined %}
                                    <th width="15%">Supprimer</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody id="files-edit-list" data-length="2">
                            <tr class="delete-parent">

                                {% if download_uri is defined and download_uri %}
                                    <td>
                                        <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ form_widget(form.file, {vich_file: 'true'}) }}
                                </td>
                                {% if form.delete is defined %}
                                    <td>
                                        {{ form_row(form.delete, {vich_delete: 'true'}) }}
                                    </td>
                                {% endif %}
                            </tr>
                            </tbody>
                            {% if errors|length > 0 and display_errors is defined and display_errors == true %}
                                <tfoot>
                                <tr>
                                    <td colspan="3" class="vich-errors">
                                        {% for error in errors %}
                                            <span class="help-block">
                                            Erreurs :<br>
                                            <li>{{ error.message }}</li>
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                </tfoot>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="{% if field_class is defined and field_class is not null %}{{ field_class }}{% else %}col-md-12{% endif %}">
            <div class="form-group row">
                {{ form_label(form) }}
                <div class="col-md-12{% if errors|length > 0 %} has-error{% endif %}">
                    <div class="vich-image">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr role="row" class="heading">
                                {% if download_uri is defined and download_uri %}
                                    <th width="15%">Miniature</th>
                                {% endif %}
                                <th width="70%">
                                    {% if download_uri is defined and download_uri %}
                                        Remplacer
                                    {% else %}
                                        Télécharger
                                    {% endif %}
                                </th>
                                {% if form.delete is defined %}
                                    <th width="15%">Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody id="images-edit-list" data-length="2">
                            <tr class="delete-parent">
                                {% if download_uri is defined and download_uri %}
                                    <td>
                                        <a href="{{ download_uri }}" target="_blank"><img class="img-responsive" src="{{ download_uri }}" alt=""/></a>
                                    </td>
                                {% endif %}
                                <td>
                                    {{ form_widget(form.file, {vich_file: 'true'}) }}
                                </td>
                                {% if form.delete is defined %}
                                    <td>
                                        {{ form_row(form.delete, {vich_delete: 'true'}) }}
                                    </td>
                                {% endif %}
                            </tr>
                            </tbody>
                            {% if errors|length > 0 and display_errors is defined and display_errors == true %}
                                <tfoot>
                                <tr>
                                    <td colspan="3" class="vich-errors">
                                        {% for error in errors %}
                                            <span class="help-block">
                                            Erreurs :<br>
                                            <li>{{ error.message }}</li>
                                        </span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                </tfoot>
                            {% endif %}
                        </table>
                        {% if show_download_link and download_uri is defined and download_uri %}
                            <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{%- block email_widget -%}
    {%- set type = type|default('email') -%}
    {%- set prefix = prefix|default('at') -%}
    {{ block('form_widget_simple') }}
{%- endblock email_widget -%}

{% block form_widget_simple %}
    {% set display_errors = true %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% if type == 'time' %}
            {% set type = 'text' %}
        {% endif %}

        {% if attr.class is defined and attr.class is not null and ('datepicker' in attr.class or 'datetimepicker' in attr.class or 'timepicker' in attr.class or 'birthdaypicker' in attr.class) %}
            {% if 'timepicker' in  attr.class and 'datetimepicker' not in attr.class %}
                {% set suffix = 'clock-o' %}
            {% else %}
                {% set suffix = 'calendar' %}
            {% endif %}
        {% endif %}


        {% set vich_file = vich_file|default('false') %}
        <div class="{% if type == 'hidden' or vich_file == 'true' %}col-md-12{% else %}col-md-12{% endif %}">
            {% if prefix is defined or suffix is defined %}
            <div class="input-group">
                {% endif %}
                {% if prefix is defined %}
                    <span class="input-group-addon">
                        <i class="fa fa-{{ prefix }} font-dark"></i>
                    </span>
                {% endif %}
                {% if vich_file == 'false' %}
                    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control clearfix')|trim}) %}
                {% endif %}
                {% if attr.maxlength is defined  and attr.maxlength > 0 %}
                    {#{% set attr = attr|merge({'class': (attr.class|default('') ~ ' has-max-length')|trim}) %}#}
                {% endif %}
                {% if attr.maxlength is defined and attr.maxlength > 0 %}
                    {#<span class="length-count" data-max="{{ attr.maxlength }}">{{ value|length }}/{{ attr.maxlength }}</span>#}
                {% endif %}
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
                {% if suffix is defined %}
                    <span class="input-group-addon">
                        <i class="fa fa-{{ suffix }} font-dark"></i>
                    </span>
                {% endif %}
                {% if prefix is defined or suffix is defined %}
            </div>
            {% endif %}
            {% if errors|length > 0 and display_errors is defined and display_errors == true %}
                {% for error in errors %}
                    <span class="help-block">
                        <li>{{ error.message }}</li>
                    </span>
                {% endfor %}
            {% endif %}
            {% if help is defined and help is not empty %}
                <span class="help-block">{{ help }}</span>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        {{ block('form_rows') }}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
    {% if not compound %}
        <div class="{% if field_class is defined and field_class is not null %}{{ field_class }}{% else %}col-md-12{% endif %}">
            <div class="{% if vich_delete is not defined or vich_delete == 'false' %}form-group row{% endif %}{% if errors|length > 0 %} has-error{% endif %}">
                {% set vich_delete = vich_delete|default('false') %}
                {{ form_label(form) }}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% else %}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    {% endif %}
{% endblock form_row %}

{%- block form_rows -%}
    {% for child in form %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows -%}

{% block form_label %}
    {% if class is defined and class == 'none' %}
        {% if image %}
            <img src="{{ asset(label) }}" alt="" style="width:auto;height:30px;">
        {% else %}
            {{ label }}
        {% endif %}
    {% else %}
        {% if label is not same as(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is not empty %}
                <div class="col-md-12">
                    <label {% for attrname, attrvalue in label_attr %}{{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label|capitalize : label|trans({}, translation_domain)|capitalize }}</label>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock form_label %}

{% block form_errors %}
{% endblock form_errors %}

{%- block widget_container_attributes -%}
    {%- if id is not empty %}id="{{ id }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_container_attributes -%}

{% block choice_widget_expanded %}
    {% spaceless %}
        {% if expanded %}
            <div class="{% if field_class is defined and field_class is not null %}{{ field_class }}{% else %}col-md-12{% endif %}">
                <div class="form-group row {% if errors|length > 0 %}has-error{% endif %}">
                    {{ form_label(form) }}

                    <div {{ block('widget_container_attributes') }} class="col-md-12">
                        <div class="radio-list">
                            {% for child in form %}
                                <label class="radio-inline">
                                    {{ form_widget(child, {'multiple_child': true}) }}
                                    {{ form_label(child, null, {class: 'none', image: render_as_image}) }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <div class="col-md-12">
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control clearfix')|trim}) %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    </div>

{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block ckeditor_widget %}
    <div class="col-md-12">
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
        {% if errors|length > 0 and display_errors is defined and display_errors == true %}
            {% for error in errors %}
                <span class="help-block">
                        <li>{{ error.message }}</li>
                    </span>
            {% endfor %}
        {% endif %}
    </div>

    {% if enable and not async %}
        {{ block('_ckeditor_javascript') }}
    {% endif %}
{% endblock %}

{% block ckeditor_javascript %}
    {% if enable and async %}
        {{ block('_ckeditor_javascript') }}
    {% endif %}
{% endblock %}

{% block _ckeditor_javascript %}
    {% if autoload %}
        <script type="text/javascript">
            var CKEDITOR_BASEPATH = "{{ ckeditor_base_path(base_path) }}";
        </script>
        <script type="text/javascript" src="{{ ckeditor_js_path(js_path) }}"></script>
        {% if jquery %}
            <script type="text/javascript" src="{{ ckeditor_js_path(jquery_path) }}"></script>
        {% endif %}
    {% endif %}
    <script type="text/javascript">
        {% if jquery %}
        $(function () {
            {% endif %}

            {% if require_js %}
            require(['ckeditor'], function() {
                {% endif %}

                {{ ckeditor_destroy(id) }}

                {% for plugin_name, plugin in plugins %}
                {{ ckeditor_plugin(plugin_name, plugin) }}
                {% endfor %}

                {% for style_name, style in styles %}
                {{ ckeditor_styles_set(style_name, style) }}
                {% endfor %}

                {% for template_name, template in templates %}
                {{ ckeditor_template(template_name, template) }}
                {% endfor %}

                {% block ckeditor_widget_extra %}{% endblock ckeditor_widget_extra %}

                {{ ckeditor_widget(id, config, {
                    auto_inline: auto_inline,
                    inline: inline,
                    input_sync: input_sync,
                    filebrowsers: filebrowsers
                }) }}

                {% if require_js %}
            });
            {% endif %}

            {% if jquery %}
        });
        {% endif %}
    </script>
{% endblock %}

{% block textarea_widget %}
    {% if attr.maxlength is defined  and attr.maxlength > 0 %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' has-max-length')|trim}) %}
    {% endif %}
    <div class="col-md-12 backend-textarea">
        {% if attr.maxlength is defined and attr.maxlength > 0 %}
            <span class="length-count" data-max="{{ attr.maxlength }}">{{ value|length }}/{{ attr.maxlength }}</span>
        {% endif %}
        <textarea {{ block('widget_attributes') }} style="width: 100%;" rows="10">{{ value }}</textarea>
        {% if errors|length > 0 and display_errors is defined and display_errors == true %}
            {% for error in errors %}
                <span class="help-block">
                        <li>{{ error.message }}</li>
                    </span>
            {% endfor %}
        {% endif %}
    </div>
{% endblock textarea_widget %}

{%- block checkbox_widget -%}
    {% if switcher is defined and switcher %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' switcher')|trim}) %}
    {% endif %}
