<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Associations ESGI</div>
    </a>

    {% if app.user is not null %}
        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            {% if "ROLE_USER" in app.user.roles %}
                <a class="nav-link" href="{{ path('me') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>

                    <span>Profil</span></a>
            {% elseif "ROLE_ADMIN" in app.user.roles or "ROLE_SUPER_ADMIN" in app.user.roles %}
                <a class="nav-link" href="{{ path('admin_dashboard') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>

                    <span>DashBoard</span>
                </a>
            {% endif %}
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->

        {% if is_granted("ROLE_ADMIN") %}
            <!-- Nav Item - Pages Collapse Menu --->
            <li class="nav-item">
                <a class="nav-link collapsed"
                   href="#" data-toggle="collapse" data-target="#collapseAssoc"
                   aria-expanded="true" aria-controls="collapseAssoc">
                    <i class="fas fa-fw fa-flag"></i>
                    <span>Associations</span>
                </a>
                <div id="collapseAssoc" class="collapse" aria-labelledby="headingAssoc" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ path('admin_association_index') }}">Gestion</a>
                        <a class="collapse-item" href="{{ path('admin_rules_index') }}">Charte</a>
                        <a class="collapse-item" href="{{ path('admin_event_index') }}">Evenement</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSondage" aria-expanded="true" aria-controls="collapseSondage">
                    <i class="fas fa-fw fa-area-chart"></i>
                    <span>Sondage</span>
                </a>
                <div id="collapseSondage" class="collapse" aria-labelledby="headingSondage" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ path('admin_sondage_index') }}">Liste</a>
                        <a class="collapse-item" href="{{ path('admin_sondage_new') }}">Ajout</a>
                        <a class="collapse-item" href="{{ path('app_sondage_index') }}">Répondres</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('app_events_index') }}">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Evenement</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('cours_index') }}">
                    <i class="fas fa-fw fa-clock"></i>
                    <span>Séance</span>
                </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('admin_user_index') }}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Utilisateur</span>
                </a>
            </li>
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <hr class="sidebar-divider">
                <li class="nav-item">
                    <a class="nav-link collapsed" href="{{ path('category_index') }}">
                        <i class="fas fa-fw fa-font"></i>
                        <span>Catégory</span>
                    </a>
                </li>
            {% endif %}
            <!-- Nav Item - Utilities Collapse Menu
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>-->

            <!-- Divider -->
        {% else %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAssoc" aria-expanded="true" aria-controls="collapseAssoc">
                    <i class="fas fa-fw fa-flag"></i>
                    <span>Associations</span>
                </a>
                <div id="collapseAssoc" class="collapse" aria-labelledby="headingAssoc" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ path('rules_index') }}">Charte</a>
                        <a class="collapse-item" href="{{ path('app_events_index') }}">Evenement</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('cours_index') }}">
                    <i class="fas fa-fw fa-clock"></i>
                    <span>Séance</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="{{ path('app_sondage_index') }}">
                    <i class="fas fa-fw fa-area-chart"></i>
                    <span>Sondage</span>
                </a>
            </li>

        {% endif %}
        <!-- Heading -->
        <!-- Nav Item - Pages Collapse Menu
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>-->

        <!-- Nav Item - Charts
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>
        -->
        <!-- Nav Item - Tables
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>
    -->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    {% endif %}
</ul>