{% extends 'base.html.twig' %}

{% block title %}Edit Emails{% endblock %}

{% block body %}
    <h1>Edit Emails</h1>

    <section class="container">
        {% form_theme 'partials/_form.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Update</button>
        {{ form_end(form) }}
    </section>


    <a href="{{ path('emails_index') }}">back to list</a>

    {{ include('emails/_delete_form.html.twig') }}
{% endblock %}
