{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1 class="text-center">Event index</h1>
    <section class="container mt-3">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PublishedAt</th>
                <th>HappensAt</th>
                <th>Description</th>
                <th>Place</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.publishedAt ? event.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.happensAt ? event.happensAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.place }}</td>
                    <td>
                        <a href="{{ path('admin_event_show', {'id': event.id}) }}">show</a>
                        <a href="{{ path('admin_event_edit', {'id': event.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <a href="{{ path('admin_event_new') }}">Create new</a>
{% endblock %}
