{% extends 'base.html.twig' %}

{% block title %}Rules index{% endblock %}

{% block body %}
    <h1>Rules index</h1>

<div class="container">
    <table class="table table-view">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rule in rules %}
            <tr>
                <td>{{ rule.id }}</td>
                <td>{{ rule.content }}</td>
                <td>
                    <a href="{{ path('admin_rules_show', {'id': rule.id}) }}">show</a>
                    <a href="{{ path('admin_rules_edit', {'id': rule.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('admin_rules_new') }}">Create new</a>
{% endblock %}
