<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="descrition" content="page principal">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <a href="/" class="logo"><img src="/img/logo_myges_126x40.png" alt="Logo Esgi"></a>
    <nav>
        <ul>
            {% if app.user is not null %}
                <li>
                    <a class="btn btn-blue" href="{{ path('app_logout') }}">Logout</a>
                </li>
                <li>
                    {% if "ROLE_ADMIN" in app.user.roles %}
                    <a class="btn btn-blue" href="{{ path('user_index') }}">User</a>
                    {% else %}
                        <a class="btn btn-blue" href="{{ path('me') }}">Profile</a>
                    {% endif %}
                </li>
            {% if "ROLE_ADMIN" in app.user.roles %}
                <li>
                    <a class="btn btn-blue" href="{{ path('cours_index') }}">Cours</a>
                </li>
                <li>
                    <a class="btn btn-blue" href="{{ path('emails_index') }}">Emails</a>
                </li>

                <li><a class="btn btn-blue" href="{{ path('sondage_index') }}">Sondage</a></li>
                {% endif %}
                <li><a class="btn btn-blue" href="{{ path('themes_index') }}">Thèmes</a></li>
            {% else %}
                <li>
                    <a class="btn btn-blue" href="{{ path('app_login') }}">Login</a>
                </li>
                <li>
                    <a class="btn btn-blue" href="{{ path('app_register') }}">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}

    {% if app.user and sondages is defined and sondages is not null%}
        {% for sondage in sondages %}
            {{ sondage.name }}
            {% for theme in sondage.themes %}
                {{ theme.name }}
            {% endfor %}
        {% endfor %}
    {% endif %}
</main>
<footer>

</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
