{% extends 'base.html.twig' %}

{% block body %}

    <!--section id="events"></section-->
    <section id="associations">
        {% for association in associations %}

            <div class="col-xl-3 col-md-6 mb-4 card-association" data-id="{{ association.id }}">
                <div class="card shadow border-left h-100 py-2" style="border-left: 0.25rem solid {{ association.color }} !important">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: {{ association.color }} !important">{{ association.name }}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ association.description|slice(50,true) }}</div>
                            </div>
                            <div class="col-auto d-flex flex-row">
                                {% if association.logoName is not null %}
                                <img src="{{ vich_uploader_asset(association, 'logoFile') }}" class="w-100" alt="logo association">
                                {% else %}
                                    <i class="far fa-user fa-2x"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}
