{% extends 'base.html.twig' %}

{% block title %}Modification du Profile{% endblock %}

{% block body %}
    <h1>Mise à jours du profile</h1>

    {{ form_start(form) }}
    {% form_theme form 'partials/template_form.html.twig' %}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.class) }}

    <button class="btn btn-success m-4">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('me') }}" class="btn btn-info">Retour au profile</a>
{% endblock %}
